<div class="page-form" id="<%= dom_id currency %>">

  <h1>
    <%= currency.name %> (<%= currency.symbol %>)
  </h1>

  <% if user_signed_in? %>
    <%= form_with url: currency_follow_path(currency), method: current_user.followed_currencies.include?(currency) ? :delete : :put do | form | %>
      <div>
        <strong>Latest exchange rate:</strong> <%= format_currency_ex_rate currency %>
        <strong>Last update:</strong> <%= currency.updated_at %>
        <strong>Description:</strong> <% if currency.description %><%= currency.description %><% else %><i>N/A</i><% end %>
      </div>

      <% if current_user.followed_currencies.include? currency %>
        <span>Unfollow this currency and live a boring life.</span>
        <%= form.submit "Unfollow" %>
      <% else %>
        <span>Follow this currency to receive updates <br>about it <span style="font-size: 0.25rem;" >(not really)</span>.</span>
        <%= form.submit "Follow" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if defined? graph_range %>
  <div class="flex flex-col">
    <span><strong>Latest exchange rate:</strong> <%= format_currency_ex_rate currency %></span>
    <span><strong>Last update:</strong> <%= currency.updated_at %></span>
    <span><strong>Description:</strong> <% if currency.description %><%= currency.description %><% else %><i>N/A</i><% end %></span>
  </div>
  <div class="w-full flex" >
    <%= render "currencies/currency_graph", currencies: [ currency ], graph_range: graph_range %>
  </div>
<% end %>
