<% 
# This view NEEDS the `currencies` option to render properly
# This view CAN receive the following optional options:
#   based_on     [Currency] shows the exchange rates based on another currency's exchange rate 
#   followed_codes     [String[]] specifies which currencies should be displayed as followed
%>
<% if currencies.length > 0 %>
  <div class="container">
    <div class="grid grid-cols-4 grid-flow-row place-items-center gap-3">
      <% currencies.each do |currency|  %>
        <%= link_to(currency, class: "w-full h-full p-4 pt-2 bg-slate-800 rounded-lg flex flex-row place-content-between gap-2") do %>
          <div class="flex flex-col">
            <span class="font-mono" >
              <span class="text-xl">
                <%= currency.symbol %>
              </span>
              <span class="text-xs line-clamp-1"><%= currency.name %></span>
            </span>
            <% if defined?(format_currency_ex_rate) %>
              <% if defined?(based_on) && based_on != nil %>
                <%= format_currency_ex_rate currency, true %>
              <% else %>
                <span><%= format_currency_ex_rate currency, true %> Exchange Rate</span>
              <% end %>
            <% else %>
              <%= currency.latest_exchange_rate %>
            <% end %>
          </div>
          <% if defined?(followed_codes) %>
            <%= button_to followed_codes.include?(currency.code) ? "Unfollow" : "Follow", 
                currency_follow_path(currency), method: followed_codes.include?(currency.code) ? :delete : :post, 
                form_class: "h-full rounded-lg p-1 px-4 flex w-fit mt-2 " + (followed_codes.include?(currency.code) ? "bg-rose-950 hover:bg-red-900" : "bg-sky-900 hover:bg-sky-800")%>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  No currencies to show.
<% end %>
